name: Rust

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        cargo-subcommand:
          - check --all-targets --verbose
          - test --verbose
          - clippy --all-targets --verbose -- -D clippy::all
          - fmt --check --verbose
          - doc --verbose
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y
          sudo apt-get dist-upgrade -y
          sudo apt-get install -y guile-2.2-dev
      - name: Run checks
        env:
          RUSTFLAGS: -D warnings
          RUSTDOCFLAGS: -D warnings
        run: cargo ${{matrix.cargo-subcommand}}
